.container {
  margin: 0 auto;
  width: 20%;
}

.top {
  display: flex;
  flex-direction: column;
}
.top h1 {
  margin-bottom: 0;
}
.top p {
  margin-bottom: 0;
  margin-top: 0;
}

.content {
  display: flex;
}

.text {
  font-size: 12px;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.left-elem {
  flex-basis: 40%;
  align-self: flex-end;
}

.right-elem {
  flex-basis: 30%;
  text-align: right;
  align-self: flex-end;
}

.row1 {
  flex-basis: 35%;
  align-self: flex-end;
}

.row2 {
  flex-basis: 25%;
}
.row3 {
  flex-basis: 20%;
}

.row4 {
  flex-basis: 20%;
}

#last-row {
  text-align: center;
}

.indent {
  text-indent: 15px;
  font-size: 14px;
}

.mainBorder {
  border: 1px black solid;
}
.thickBorder {
  border-bottom: 9px black solid;
}

.thickBorder p {
  margin-bottom: 0.3em;
}

.mediumBorder {
  border-bottom: 6px black solid;
}
.thinBorder h5,
p {
  margin-bottom: 0.2px;
}

.thinBorder {
  border-bottom: 1px black solid;
}

.border {
  border-bottom: 2px black solid;
}

.none {
  border-bottom: none;
}

hr {
  margin: 0;
  margin-left: 15px;
}
